/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

.light-style .menu .app-brand.demo {
  height: 64px;
}

.dark-style .menu .app-brand.demo {
  height: 64px;
}

.app-brand-logo.demo {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
}

.app-brand-logo.demo svg {
  width: 1.7rem;
  height: 1.7rem;
}

.app-brand-text.demo {
  font-size: 1.75rem;
  letter-spacing: -0.45px;
}

/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
  padding-bottom: 44px !important;
}

/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks > * {
  display: block !important;
}

.demo-inline-spacing > * {
  margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing > * {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg > * {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-lg.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl > * {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-xl.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir='rtl'] .rtl-only {
  display: block !important;
}

/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
}
.layout-demo-placeholder img {
  width: 900px;
}
.layout-demo-info {
  text-align: center;
  margin-top: 1rem;
}

/*
* Update
******************************************************************************/

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0px;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(87, 87, 86, 0.4) ;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(87, 87, 86, 0.6) ;
}

body::selection,
div::selection,
a::selection,
label::selection,
p::selection,
ul::selection,
ol::selection,
h5::selection,
span::selection,
li::selection  {
  background: #960948 !important;
  color: #fff !important;
}

body {
  background: url(../img/backgrounds/background.jpg) repeat top right fixed;
  background-size: cover;
}

[dir="rtl"] body {
  background: url(../img/backgrounds/background.rtl.jpg) repeat top left fixed;
  background-size: cover;
}


.bx-sm {
  font-size: 1.85rem !important;
}

.dropdown-item {
  line-height: 1.30;
}

/* street-lanterns */
.street-lanterns{
  width: 220px;
  height: 200px;
  position: relative;
  background: url(../img/street-lanterns.jpg) no-repeat right top;
  mix-blend-mode: darken;
  background-size: auto 100%;
  transition: all 0.3s;
}

[dir="rtl"] .street-lanterns{
  background: url(../img/street-lanterns.rtl.jpg) no-repeat left top;
  mix-blend-mode: darken;
    background-size: auto 100%;
}



@media (min-width: 992px){
  body {
    background-size: 70% auto;
  }
  [dir="rtl"] body {
    background-size: 70% auto;
  }
}

@media (min-width: 768px){
  .street-lanterns{
    height: 250px;
  }
}


/* street-lanterns */
.bicycle{
  width: 320px;
  height: 300px;
  position: relative;
  background: url(../img/bicycle.jpg) no-repeat right bottom;
  mix-blend-mode: multiply;
  background-size: 100% auto;
}

[dir="rtl"] .bicycle{
  background: url(../img/bicycle.rtl.jpg) no-repeat right bottom;
  mix-blend-mode: multiply;
  background-size: 100% auto;
}


.logo{
  width: 155px;
  transition: all 0.3s;
}




@media (min-width: 1200px){
  .logo{
    width: 175px;
  }  
}

.logo img{
  width: 100%;
}



.stretch-group-h {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.stretch-group-h .stretch-side{
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

.stretch-group-v {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  height: 100%;
}

.stretch-group-v .stretch-side{
  position: relative;
  flex: 1 1 auto;
  height: 1%;
  min-height: 0;
}

.minus-top{
  margin-top: -50px;
}


/* video */
.video{
  position: relative;
  
  max-width: 100%;
}

.video .video_mask {
  display: inline-block;

  -webkit-mask-image: url('../img/mask.png');
  mask-image: url('../img/mask.png');

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: 100%;
  mask-size: 100%;

  max-width: 100%;
}

[dir="rtl"] .video .video_mask {
  display: inline-block;

  -webkit-mask-image: url('../img/mask.rtl.png');
  mask-image: url('../img/mask.rtl.png');

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: 100%;
  mask-size: 100%;

  max-width: 100%;
}

.video .video_mask .video_holder {
  width: 500px;
  height: 255px;
  overflow: hidden;
  max-width: 100%;
}

.video .video_mask .video_holder video {
  position: relative;
  top: 0px;
    height: 100%;
}

.mt-20{
  margin-top:80%;
}


/* Main Categories */
.categories{
  position: relative;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  border-bottom: 1px solid #C2BBBB;
}



[dir='rtl'] .categories{
  position: relative;
  font-family: 'Alexandria', sans-serif;
  font-weight: 600;
  border-bottom: 1px solid #C2BBBB;
}


.categories .item{
  position: relative;
  color: #960948;
  cursor: pointer;
  font-size: 10pt;
}

.categories .item:hover{
  color: #575756;
}

.categories .item .icon-item{
  position: relative;
  width: 65px;
  height: 65px;
  transition: all 0.3s;
}

.categories .item .icon-item .icon-i{
  width: 100%;
  height: 100%;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: multiply;
}

/**/
.categories .item .icon-item .icon-i.food-icon{
  background-image: url(../img/products/food-icon.jpg);
}
.categories .item .icon-item .icon-i.appetizer-icon{
  background-image: url(../img/products/appetizer-icon.jpg);
}
.categories .item .icon-item .icon-i.drink-icon{
  background-image: url(../img/products/drink-icon.jpg);
}
.categories .item .icon-item .icon-i.hot-coco-icon{
  background-image: url(../img/products/hot-coco-icon.jpg);
}
/**/

/*
.categories .item .name-item{
  position: relative;
  border-bottom: solid 3px #960948;
  border-color: transparent;
  text-wrap: nowrap;
}


.categories .item.active .name-item{
  border-color: #960948;
}
*/

@media (min-width: 380px){
  .video .video_mask .video_holder {
    height: 345px;
  }
}

@media (min-width: 576px){
  .categories .item{
    font-size: 12pt;
  }

  .categories .item .icon-item{
    position: relative;
    width: 100px;
    height: 100px;
  }

  .video .video_mask .video_holder {
    height: 378px;
  }
}

.text-price{
  color: #C6858C;
  font-size: 13pt;
  font-weight: bold;
}

.totlal-price{
  color: #960948;
  font-size: 15pt;
  font-weight: bold;
}


/* quantity-control */
.quantity-control{
  background: #960948;
  border-radius: 7px;
  color: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 11pt;
}

.quantity-control.empty{
  background: #C6858C;
}

.quantity-control .btn{
  background: #960948;
  color: #fff;
}

.quantity-control.empty .btn{
  background: #C6858C;
  color: #fff;
}

.quantity-control.empty .btn.minus{
  display: none;
}

.quantity-control .btn:hover{
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.quantity-control .quantity-text{
  color: #fff;
  font-size: 11pt;
}

.listing{
  background: transparent;
  /*mix-blend-mode: multiply;*/
}

.bg-f{
  background: url(../img/backgrounds/background.jpg) repeat top right fixed;
  background-size: cover;
}

[dir='rtl'] .bg-f{
  background: url(../img/backgrounds/background.rtl.jpg) repeat top left fixed;
  background-size: cover;
}

@media (min-width: 992px){
  .bg-f{
    background-size: 70% auto;
  }

  [dir='rtl'] .bg-f{
    background-size: 70% auto;
  }
}



.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal) .layout-navbar.navbar-elevated, .layout-navbar-fixed:not(.layout-menu-fixed) .layout-wrapper.layout-horizontal .layout-navbar.navbar-elevated {
  box-shadow: 6px 4px 30px 0 rgba(38, 60, 85, 0.12);
  box-shadow: none;
}


.sticky-top.bg-f{
  top:19px;
}

.nav-link{
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.layout-navbar {
  height: 2.875rem;
}

.list-ul{
  direction: ltr !important;
}

.list-ul .card{
  border-radius: 0.5rem !important;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s;
}

.list-ul .card:hover{
  border-color: #960948;
}

.list-ul .list-img {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 0.5rem 0.5rem 0 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s;
}

@media (min-width: 576px){
.list-ul .list-img {
  width: 100%;
  height: 200px;
}
}

/**/
.details .details-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-vh{
  max-height: calc(100vh - 260px);
  min-height: calc(100vh - 260px);
}



hr{
  border-top: 1px solid #C2BBBB;
  color: #C2BBBB;
}

/**
 * ==============================================
 * Loading
 * ==============================================
 */
#loading {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 9999999;
}

.dots-loading {
  height: 25px;
  aspect-ratio: 2.5;
  --_g: no-repeat radial-gradient(farthest-side,#960948 90%,rgba(255, 255, 255, 0));
  background:var(--_g), var(--_g), var(--_g), var(--_g);
  background-size: 20% 50%;
  animation:dots 1s infinite linear; 
}

@keyframes dots {
  0%     {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  16.67% {background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  33.33% {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 0   ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  50%    {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 100%,calc(2*100%/3) 0   ,calc(3*100%/3) 50% }
  66.67% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 100%,calc(3*100%/3) 0   }
  83.33% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 100%}
  100%   {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
}

.effect-blur {
  filter: blur(25px);
  animation-name: example;
  animation-duration: .5s;
  animation-delay: .5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.no-blur {
  filter: blur(0);
  transition: filter .5s .5s ease-in;
}

.item.list-li{
  height: 100%;
}










.bg-menu-theme {
  background-color: rgb(243 244 244 / 87%) !important;
}

.owl-stage{
  display: flex !important;
  align-items: stretch !important;
}

.owl-carousel .owl-item{
  float: none !important;
}


.owl-dots{
  display: flex !important;
}

.owl-nav{
  display: flex !important;
  justify-content: space-between!important;
  position: absolute !important;
  width: 100%;
  top: 35%;
  pointer-events: none;
}

.owl-nav button{
  background: #ffffff !important;
    color: #960948 !important;
    font-size: 1.813rem !important;
    cursor: pointer !important;
    border-radius: 50rem !important;
    --bs-btn-active-border-color: transparent !important;
    width: calc(2.2505rem + 2px) !important;
    height: calc(2.2505rem + 2px) !important;
    display: inline-flex !important;
    flex-shrink: 0 !important;
    justify-content: center !important;
    align-items: center !important;
    --bs-btn-font-weight: 400 !important;
    --bs-btn-line-height: 2.6 !important;
    --bs-btn-color: #575756 !important;
    --bs-btn-bg: transparent !important;
    --bs-btn-border-width: 1px !important;
    --bs-btn-border-color: transparent !important;
    --bs-btn-hover-border-color: transparent !important;
    --bs-btn-box-shadow: 0 0.125rem 0.25rem rgba(147, 158, 170, 0.4) !important;
    --bs-btn-disabled-opacity: 0.65 !important;
    box-shadow: 0 0.25rem 1rem rgba(147, 158, 170, 0.45) !important;
    pointer-events: visible;
}

.owl-nav button span{
  line-height: 1.5rem !important;
  margin-top: -5px;
}

.drag-target{
  pointer-events: none;
}


.owl-next{
  margin-right: -10px;
}

.owl-prev{
  margin-left: -10px;
}

.flip-icon{
  display: block;
}

[dir='rtl'] .flip-icon{
  transform: scaleX(-1);
  display: block;
}






.menu-item.bell-call{
  background: #960948;
  color: #fff !important;
}

.menu-item.bell-call .menu-link{
  color: #fff !important;
}


/* Bell call */
.bell-call-fixed{
  position: fixed;
  right: -1px; bottom: 50px;
  z-index: 9999;
  border-radius: 0.5rem 0.0rem 0.0rem 0.5rem;
  background: #fff;
}

.bell-call-fixed a.menu-link{
  display: block;
  background: #fff;
  color: #960948 ;
  border-radius: 0.5rem 0.0rem 0.0rem 0.5rem;
  font-size: 12pt;
  font-weight: 700;
  font-family: 'Cinzel', serif;
  transition: all 0.3s;
}

.bell-call-fixed a.menu-link:hover{
  background: #960948;
  color: #fff ;
}

[dir='rtl'] .bell-call-fixed{
  left: -1px;
  right: auto !important;
  border-radius: 0.0rem 0.5rem 0.5rem 0.0rem;
  font-family: 'Alexandria', sans-serif;
  font-weight: 600;
}

[dir='rtl'] .bell-call-fixed a.menu-link{
  border-radius: 0.0rem 0.5rem 0.5rem 0.0rem;
  font-family: 'Alexandria', sans-serif;
  font-weight: 600;

  font-weight: 600;
}


.bell-call-fixed .menu-icon {
  font-size: 1.7rem !important;
}

/* footer fixed */
.footer-fixed{
  position: fixed;
  right: 0px; left: 0px; bottom: 0px;
  z-index: 999;
  background: rgba(255, 255, 255, 0.8);
  font-size: 10pt;
  color: #C6858C;
}

@media (min-width: 576px){
  .footer-fixed{
    font-size: 12pt;
  }
  }



.menu-vertical .menu-sub .menu-link {
  padding-top: 0.425rem;
  padding-bottom: 0.425rem;
}

.dropdown-menu{
  background-color: rgba(255, 255, 255, 0.85) ;
}

.list-group-item {
  transition: all 0.3s;
}

/*

.iFsWPo {
  box-sizing: border-box;
  border-top: 1px solid rgb(230, 3, 75);
  border-right-color: rgb(230, 3, 75);
  border-bottom-color: rgb(230, 3, 75);
  border-left-color: rgb(230, 3, 75);
  display: none;
  animation-duration: 0.7s;
  animation-name: fadeInLeft;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}

.cfVOni {
  box-sizing: border-box;
  border-top: 1px solid rgb(230, 3, 75);
  border-right-color: rgb(230, 3, 75);
  border-bottom-color: rgb(230, 3, 75);
  border-left-color: rgb(230, 3, 75);
  display: block;
  animation-duration: 0.7s;
  animation-name: fadeInRight;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}

.gkNWSF {
  box-sizing: border-box;
  border-top: 1px solid rgb(230, 3, 75);
  border-right-color: rgb(230, 3, 75);
  border-bottom-color: rgb(230, 3, 75);
  border-left-color: rgb(230, 3, 75);
  display: none;
  animation-duration: 0.7s;
  animation-name: fadeInRight;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}

.CBARf {
  box-sizing: border-box;
  border-top: 1px solid rgb(230, 3, 75);
  border-right-color: rgb(230, 3, 75);
  border-bottom-color: rgb(230, 3, 75);
  border-left-color: rgb(230, 3, 75);
  display: block;
  animation-duration: 0.7s;
  animation-name: fadeInLeft;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}
*/

.underline {
  height: 2px;
  background-color: #960948;
  transition: transform 0.3s, width 0.3s;
  position: relative;
  bottom: 0;
}

.name-item {
  text-wrap: nowrap;
}


.owl-dots{
  display: flex !important;
  justify-content: center !important;
}

.owl-dots .owl-dot{
  margin: 0px 5px;
}

.owl-dots .owl-dot span{
  margin: 0px !important;
}



.bg-label-secondary {
  background-color: #ffffff !important;
  color: rgba(87, 87, 86, 0.75) !important;
}

.details .badge{
  border-radius: 0.85rem;
  font-size: 0.95em;
}

/* btn-text-secondary */
.btn-text-secondary {
  color: #8a8d93
}

.btn-text-secondary.waves-effect .waves-ripple {
  background: radial-gradient(rgba(138, 141, 147, 0.2) 0, rgba(138, 141, 147, 0.3) 40%, rgba(138, 141, 147, 0.4) 50%, rgba(138, 141, 147, 0.5) 60%, rgba(255, 255, 255, 0) 70%)
}

.btn-text-secondary:hover {
  border-color: rgba(0,0,0,0);
  background: #f7f7f7;
  color: #8a8d93
}

.btn-text-secondary:focus,.btn-text-secondary.focus {
  color: #8a8d93;
  background: #f3f4f4
}

.btn-text-secondary:active,.btn-text-secondary.active,.btn-text-secondary.show.dropdown-toggle,.show>.btn-text-secondary.dropdown-toggle {
  color: #8a8d93 !important;
  background: #edeeef !important;
  border-color: rgba(0,0,0,0) !important
}

.btn-group .btn-text-secondary,.input-group .btn-text-secondary {
  border-right: 1px solid #edeeef;
  border-left: 1px solid #edeeef
}

.form-label, .col-form-label {
  font-size: 0.95rem;
}

span.input-group-text{
  align-items: flex-start;
  padding-top: 12px;
}